<a href="https://colab.research.google.com/github/petrusthelastking/2341720227_ML_2025/blob/main/TP_JS01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1. Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# 3. Import pandas dan load CSV
import pandas as pd
from IPython.display import display, HTML

# Path ke file CSV
path = '/content/drive/MyDrive/Machine Learning/data-30-mahasiswa.csv'

# Baca CSV ke DataFrame
df = pd.read_csv(path)

display(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,NAMA LENGKAP,JENIS KELAMIN,KOTA ASAL,TINGGI BADAN (CM),BERAT BADAN (KG),Asal Kelas (Kelas semester sebelumnya),Target IPS (target realistis IPS semester ini)
0,ADITYA ATADEWA,Laki-laki,Kab. Blitar,168.7,58,2H,4
1,AFIFAH KHOIRUNNISA,Perempuan,Nganjuk,159.0,49,TI - 2F,4
2,AFRIZAL QURRATUL FAIZIN,Laki-laki,Malang,165.0,65,2B,3.7
3,AHMAD NAUFAL ILHAM,Laki-Laki,Malang,179.0,107,TI - 2G,4
4,ANYA CALLISSTA CHRISWANTARI,Perempuan,Kota Madiun,158.0,40,TI - 2A,"3,9"
5,ARIL IBBET ARDANA PUTRA,Laki-laki,Banyuwangi,171.0,58,TI - 2F,3.5
6,ARYO ADI PUTRO,Laki-Laki,Jember,172.0,53,2B,4
7,CAKRA WANGSA MAY AHMAD W,Laki-Laki,Blitar,165.0,70,TI - 2F,4
8,CHIKO ABILLA BASYA,Laki-laki,Mojokerto,170.0,50,2E,"3,8"
9,DAMAR GALIH FITRIANTO,Laki - Laki,Malang,170.0,65,2B,3.7
10,DIANA RAHMAWATI,Perempuan,Malang,158.0,49,TI - 2F,"3,8"
11,HAMDAN AZIZUL HAKIM,Laki-Laki,Malang,163.0,41,2G,3.5
12,HIDAYAT WIDI SAPUTRA,Laki-Laki,Malang,165.0,57,2A,4
13,KEVIN ADIKA SAPUTRA,Laki-Laki,Jombang,167.0,61,2H,"3,8"
14,MARSYA AURELIA SEFIRA,Perempuan,Malang,167.0,70,2H,4
15,MAULANA RENGGA RAMADAN,Laki-Laki,Sumenep,170.0,68,TI - 2H,4
16,MUHAMMAD ALIF FEBRIANSYAH,Laki-Laki,Kab. Pasuruan,157.0,52,2E,"3,8"
17,MUHAMMAD RIFDA MUSYAFFA',Laki - Laki,Mojokerto,170.0,80,TI - 2D,4
18,PETRUS TYANG AGUNG ROSARIO,Laki - Laki,Dampit,175.0,80,TI - 2D,"3,7"
19,RAFA FADIL ARAS,Perempuan,Malang,155.0,45,2E,4
20,RAKAI SETO SEMBODO,Laki - Laki,Jakarta,174.0,55,TI - 2E,3.9
21,RANGGA DWI SAPUTRA,Laki-laki,Banyuwangi,169.0,59,TI 2C,4
22,RAUDHIL FIRDAUS NAUFAL,Laki-Laki,Kota Bogor,169.0,105,TI-2B,3.9
23,SADIYA MARITZA,Perempuan,Blitar,150.0,53,TI-2B,3.8
24,SAKA NABIL,Laki - Laki,Lombok Timur,170.0,52,TI - 2G,3.8
25,SIRFARATIH,Perempuan,Kab. Pasuruan,159.0,70,TI-2E,3.9
26,TAUFIK DIMAS EDYSTARA,Laki Laki,Kota Blitar,170.0,52,TI-2A,4
27,TIONUSA CATUR PAMUNGKAS,Laki- Laki,Kab. Sumenep,175.0,72,TI-2F,3.8
28,VIDI JOSHUBZKY SAVIOLA,Laki - Laki,Kota Batu,165.0,60,TI - 2F,4
29,BARIKLIE ARNANDA MILANO,Perempuan,Kab. Blitar,160.0,39,2J,3.9